@model IEnumerable<Eshopping_MVC.Models.Client>

<h1>Clients List</h1>

<p>
    <a asp-action="Register">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.password)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.password)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.clientId">Edit</a> |
                    <a asp-action="Delete" asp-route-id="@item.clientId">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
