@model IEnumerable<Eshopping_MVC.Models.Product>

<!DOCTYPE html>

<html lang="en">
<head>
    <title>Catalogue des produits</title>
   <style>
        body {
            font-family: Arial, sans-serif;
            background-color: #f8f9fa;
        }

        .container {
            margin-top: 30px;
        }

        h1 {
            text-align: center;
            color: #007bff;
        }

        .card {
            margin-bottom: 20px;
        }

        .card img {
            max-height: 200px; /* Définir la hauteur maximale pour toutes les images */
            object-fit: cover; /* Assurer que l'image conserve ses proportions */
        }

        .card-title {
            font-size: 1.25rem;
            font-weight: bold;
        }

        .card-text {
            color: #6c757d;
        }

        .btn-group {
            margin-top: 10px;
        }
    </style>
</head>
<body>
<div class="container">
    <h1>Catalogue</h1>
    <div class="row">
        @foreach (var product in Model)
        {
            <div class="col-md-4">
                <div class="card">
                    <img src="~/@product.ImageUrl" class="card-img-top" alt="@product.Name"/>
                    <div class="card-body">
                        <h5 class="card-title">@product.Name</h5>
                        <p class="card-text">@product.Description</p>
                        <div class="btn-group">
                            <a href="@Url.Action("ProductAdded", new { id = product.productId })" class="btn btn-primary">Détails</a>
                            <a href="@Url.Action("EditProduct", new { id = product.productId })" class="btn btn-warning">Modifier</a>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
</div>

</body>
</html>
